.wrapper {
    z-index: 900;
    position: absolute;
    top: 0;
    right: 0;

    opacity: 0;
    transform: translateY(-0.5em);

    margin: 11px calc(1em + 11px) 0 0;
    transition: 0.5s ease 0.5s;
}

.open {
    opacity: 1;
    transform: translateY(0);
}

.icon::before {
    position: absolute;
    top: 0;
    right: 0;

    content: '';

    width: 100%;
    height: 100%;
}

.icon > div {
    position: relative;
    width: var(--min-logo-size);
    height: var(--min-logo-size);
    
    background-color: var(--dark);
    border-radius: 100vh;
}

.icon > div::before {
    position: absolute;
    top: 0;
    left: 0;
    
    content: '';
    
    width: 100%;
    height: 100%;

    background-image: var(--icon);
    background-size: cover;
    background-position: center;
}

.icon > span {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 25px;
    height: 25px;

    fill: var(--light);

    translate: -50% -50%;
    transition: 0.25s ease;
}

.icon:hover::before {
    width: calc(var(--min-logo-size) + 3.5em);
    height: calc(var(--min-logo-size) + 3.5em);
}

.icon:hover {
    & > span > span {
        transform: translateY(3.5em);
        opacity: 1;
        transition: 0.25s linear;
    }

    & > span:nth-child(2) {
        transform: rotate(45deg);
        transition: 0.25s ease 0.25s;
    }
    
    & > span:nth-child(3) {
        transform: rotate(90deg);
        transition: 0.25s ease 0.25s;
    }
}

.icon > span > span {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.25s linear 0.25s;
}

.icon > span > span:hover {
    fill: var(--light-hover);
    scale: 1.1;
}