.wrapper {
    display: flex;

    overflow: hidden;
    padding: 0 1em 0 1em;

    text-wrap: nowrap;

    width: 0;
    height: 0;
    
    transition: 0.25s ease;
    
    transform: translateY(-1em);
}

.open {
    width: calc(100% - 2em);
    height: 200px;
    transition: 0.5s ease;

    & .cover {
        width: 200px;
        height: 200px;
    }

    & h2 {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition: 0.5s ease 0.5s !important;
    }
    
    & p {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition: 0.5s ease 0.75s !important;
    }
    
    & .media {
        width: 50%;
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition: 0.5s ease 1s !important;
    }

    & > div:last-child {
        width: 100% !important;
    }

    & .vol {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-left: 2em;
    width: 0;
    transition: 0.5s ease;
}

.wrapper h2 {
    margin-bottom: 0.2em;
    opacity: 0;
    transform: translateY(-1em);
    transition: 0.5s ease;
}

.wrapper p {
    color: var(--light-hover);
    opacity: 0;
    transform: translateY(-1em);
    transition: 0.5s ease;
}

.media {
    display: flex;
    justify-content: space-between;

    opacity: 0;
    transform: translateY(-1em);
    transition: 0.5s ease;
}

.media > span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2em;
    height: 2em;

    fill: var(--light);
}

.media > span:hover {
    fill: var(--light-hover);
    
    & svg {
        transform: translateY(-0.25em);
    }
}

.media svg {
    height: 1.5em; 
    transition: 0.5s ease;  
}

.cover {
    z-index: 999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 0;
    height: 0;

    margin: auto 0 auto 0;

    transition: 0.5s ease;
    border-radius: 5px;
}

.vol {
    opacity: 0;
    transform: translateY(-1em);
    transition: 0.5s ease 0.75s;
}