.wrapper {
    display: flex;

    height: 0;
    transition: 0.5s;
}

.open {
    height: 200px;
    margin: 0.5rem;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1/1;

}

.cover > img {
    position: relative;
    top: 0;
    left: 100px;
    
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
}

.cover:hover > img {
    border-radius: 0;
    transform: scale(1.025);
}

.open .cover > img { left: 0; }

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-left: 2rem;
}

.info > * {
    opacity: 0;
    transform: translateY(-1rem);
    transition: 0.5s 0.5s;
}

.info > h2 { margin-bottom: 0.2em; }
.info > h2 {
    opacity: 0;
    transform: translateY(-1rem);
    transition: 0.5s 0.25s;
}

.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.artists {
    color: var(--light-hover);
}

.artists > a {
    cursor: pointer;
    transition: 0.5s;
}

.artists > a:hover {
    color: var(--dark-hover);
}