.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2rem;
    width: 100%;
}

.slider[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(55, 55, 72);

    width: calc(100% - 7rem);
    height: 0.5rem;
    margin: 0.5rem;

    border-radius: 100vh;

    overflow: hidden;
    cursor: pointer;
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        box-shadow: -20rem 0 0 20rem rgb(172, 169, 177);
    }
  
    &::-moz-range-thumb {
        border: none;
        width: 0;
        box-shadow: -1rem 0 0 1rem rgb(172, 169, 177);
    }
}

.media {
    position: relative;
    display: flex;
    justify-content: center;
    width: 3em;
}

.media > div {
    position: absolute;
    top: 0;
    left: 50%;

    opacity: 1;
    translate: -50% 0;
    transition: 0.5s 0.5s;
}

.media > svg {
    fill: var(--light);
    height: 1.5em;

    opacity: 0;
    transform: translateY(-0.5em);
    transition: 0.5s 0.5s;
}

.media > svg:hover {
    fill: var(--light-hover);
    transform: translateY(-0.25em) !important;
}

.hover > div {
    transform: translateY(-0.5em);
    transition: 0.5s;
    opacity: 0;
}

.hover > svg {
    transform: translateY(0);
    transition: 0.5s;
    opacity: 1;
}